

<div class="title-container">
  <div class="title-content">
    <h1 class="textColor1">Saved Articles</h1>
    <p class="textColor1">You saved articles</p>
  </div>
</div>

<ul>
  {{#each articles}}
  {{#if this.note}}
  <div class="card">
    <div class="card-header">
      <a href="{{this.url}}"></a>
      {{this.headline}}
      <button data-articleId="{{this.id}}" class="updateNote btn btn-primary">article note</button>
      <button data-noteId="{{this.note.id}}" class="deleteArticle btn btn-primary">delete saved</button>
    </div>
    <div class="card-body">
      <p>{{this.summary}}</p>
    </div>
    {{/if}}
  </div>
  {{/each}}
</ul>

<!-- <h2>Create a Plan</h2>
<form id="createplan" class="button-size">
  <textarea type="text" name="plan"></textarea>
  <button type="submit">Save Plan!</button>
</form>

<h2>Update a Plan</h2>
<form id="updateplan" class="button-size">
  <select name="id">
		{{#each plans}}
			<option value="{{this.id}}">{{this.plan}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="plan" placeholder="plan"></textarea>
  <button type="submit">Update Plan!</button>
</form>
 -->
