

<div class="title-container">
  <div class="title-content">
    <h1 class="textColor1">Saved Articles</h1>
    <p class="textColor1">You saved articles</p>
  </div>
</div>


  {{#each articles}}
  {{#if this.note}}
  <div class="card">
    <div class="card-header">
      <a href="{{this.url}}"></a>
      {{this.headline}}
      <!-- <button data-articleId="{{this.id}}" class="updateNote btn btn-primary">article note</button> -->

      <!-- button to trigger modal for update note -->
      <button type="button" data-noteId="{{this.note.id}}" class="updateNote btn btn-primary" data-toggle="modal" data-target="#modal{{this.id}}">
        article note
      </button>
      <button data-noteId="{{this.note.id}}" class="deleteArticle btn btn-primary">delete saved</button>
    </div>
    <div class="card-body">
      <p>{{this.summary}}</p>
    </div>
    {{/if}}
  </div>
  {{/each}}


{{#each articles}}
{{#if this.note}}
<div class="modal fade" id="modal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Note for: {{this.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea id="{{this.id}}">{{this.note.body}}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-articleId="{{this.id}}" class="saveNote btn btn-primary">Save note</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{/each}}


<!-- <h2>Create a Plan</h2>
<form id="createplan" class="button-size">
  <textarea type="text" name="plan"></textarea>
  <button type="submit">Save Plan!</button>
</form>

<h2>Update a Plan</h2>
<form id="updateplan" class="button-size">
  <select name="id">
		{{#each plans}}
			<option value="{{this.id}}">{{this.plan}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="plan" placeholder="plan"></textarea>
  <button type="submit">Update Plan!</button>
</form>
 -->
